nav {
  display: flex;
  flex-direction: column;
  padding: var(--main-content-padding);
  height: calc(100dvh - var(--main-content-padding) * 2);
  justify-content: flex-start;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  padding-bottom: var(--spacing-medium);
}

nav div {
  background-color: pink;
  margin-top: auto;
}
