/* Buttons */

[type='submit'],
[role='button'],
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-primary-light);
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  color: var(--color-text-primary);
}

[type='submit'] .sm,
[role='button'] .sm,
button .sm {
  padding: var(--spacing-extra-small) var(--spacing-small);
  font-size: var(--fs-50);
}

[type='submit'] .md,
[role='button'] .md,
button .md {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
}

[type='submit'] .lg,
[role='button'] .lg,
button .lg {
  padding: var(--spacing-medium) var(--spacing-large);
  font-size: var(--fs-200);
}

[type='submit'] .material-icons,
[role='button'] .material-icons,
[type='submit'] i,
[role='button'] i,
button i,
button .material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-100);
  line-height: 1;
}
button.icon-only {
  padding: var(--spacing-small);
}
button.icon-round {
  padding: var(--spacing-small);
  border-radius: 999px;
}
[type='submit']:disabled,
[role='button']:disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
