/* Buttons */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-primary-light);
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  color: var(--color-text-primary);
}
button.sm {
  padding: var(--spacing-extra-small) var(--spacing-small);
  font-size: var(--fs-50);
}
button.md {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
}
button.lg {
  padding: var(--spacing-medium) var(--spacing-large);
  font-size: var(--fs-200);
}
button i,
button .material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-100);
  line-height: 1;
}
button.icon-only {
  padding: var(--spacing-small);
}
button.icon-round {
  padding: var(--spacing-small);
  border-radius: 999px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
