article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--card-padding);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  border-color: var(--color-border);

  margin-bottom: var(--spacing-medium);
  margin-left: auto;
  margin-right: auto;
}

article > footer,
article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--spacing-medium);
  margin: var(--card-padding-negative);
  background-color: var(--color-bg-light);
}

article > header {
  margin-bottom: var(--card-padding);
  padding: var(--card-padding);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

article > footer {
  margin-top: var(--card-padding);
  padding: var(--card-padding);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

article > header > h1,
article > header > h2,
article > header > h3,
article > header > h4,
article > header > h5,
article > header > h6,
article > header > p {
  margin: 0;
  padding: 0;
}

article > footer:has(button),
article > header:has(button) {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}
