/* Classes */
.border {
  border: var(--border);
}
.border > header {
  border-bottom: var(--border);
}
.border > footer {
  border-top: var(--border);
}
.justify-end {
  justify-content: flex-end;
}
