/* Main Padding */
main {
  padding: var(--main-content-padding);
}

/* Format */
.middle {
  position: fixed;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar Format */
body:has(> aside) {
  display: grid;
  grid-template-columns: calc(var(--sidebar-width) + var(--sidebar-padding) * 2) 1fr;
  grid-template-rows: 1fr;
  height: 100dvh;
  width: 100dvw;
}
body > main {
  grid-column: 2;
  grid-row: 1;
  overflow-y: auto;
}
body > aside:has(conductor-nav) {
  grid-column: 1;
  grid-row: 1;
}

body.menu-closed > aside:has(conductor-nav) {
  width: 0;
  overflow: hidden;
}
body.menu-closed conductor-nav > header {
  display: flex;
  gap: var(--spacing-small);

  position: fixed;
  top: var(--sidebar-padding);
  left: var(--sidebar-padding);

  z-index: 1001;
}
body.menu-closed conductor-nav > footer,
body.menu-closed conductor-nav > nav {
  display: none;
}
