form > fieldset {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

textarea,
input {
  background-color: var(--color-bg-white);
  color: var(--color-text-primary);

  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-medium);
  border: var(--border-form);

  -webkit-appearance: none;
}

input:has(+ small) {
  margin-bottom: 0;
}
input + small {
  margin-bottom: var(--spacing-medium);
}

textarea:focus,
input:focus {
  outline: var(--outline-selected);
  border: var(--border-selected);
}
