form > fieldset {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

form > [role='group'] {
  padding: var(--button-padding);
  font-size: var(--button-fs);
  margin-bottom: var(--spacing-medium);
}

textarea,
input {
  background-color: var(--color-bg-white);
  color: var(--color-text-primary);

  padding: var(--button-padding);
  font-size: var(--button-fs);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-medium);
  border: var(--border-form);

  -webkit-appearance: none;
}
! input:has(+ small) {
  margin-bottom: 0;
}
input + small {
  margin-bottom: var(--spacing-medium);
}

textarea:focus,
input:focus {
  outline: var(--outline-selected);
  border: var(--border-selected);
}

quick-add-modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50dvh;
}
quick-add-modal textarea {
  resize: none;
  width: stretch;
  height: stretch;
}
quick-add-modal label:has(textarea) {
  flex: 1 !important;
}
