nav {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--main-content-padding) * 2);
  justify-content: flex-start;
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
  padding: 0;
}

nav > ul {
  margin: 0;
  margin-top: var(--spacing-medium);
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  padding-bottom: var(--spacing-small);
}

nav > ul > li > a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

nav > ul > li > a:hover {
  color: var(--color-primary-medium);
}

nav div {
  background-color: transparent;
  margin-top: auto;
  width: 100%;
}
