nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-text-primary);
  width: 100%;
  padding: 0;
}

nav > ul {
  margin: 0;
  margin-top: var(--spacing-medium);
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  padding-bottom: var(--spacing-small);
}

nav > ul > li > a {
  color: var(--color-text-primary);
  text-decoration: none;
  display: block;
}

nav > ul > li > a:hover {
  color: var(--color-primary-medium);
}

/* Conductor Nav */

conductor-nav {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--sidebar-padding);
  background-color: var(--color-bg-light);

  height: calc(100dvh - var(--sidebar-padding) * 2);
  width: var(--sidebar-width);
}
conductor-nav button {
  width: 100%;
  height: fit-content;
}
conductor-nav > header {
  grid-row: 1;
  margin: 0 !important;
}
conductor-nav > nav {
  grid-row: 2;
}
conductor-nav > footer {
  grid-row: 3;
  align-self: end;
}
/* Menu Toggle Button in Navbar */
#menu-toggle {
  margin-bottom: var(--spacing-large);
  width: fit-content;
}
