/* 
* CSS Style for CSE 210 Group 5 (P5ych) | Fall 2025
* Typography/Breakpoint sizes from https://picocss.com/docs/typography 
* */

:root[data-theme='light'],
:root {
  view-transition-name: root;

  /* Light Mode Colors */
  /* Primary Colors */
  --color-primary-light: #bbc6cb;
  --color-primary-medium: #455a64; /* buttons, links, accents */
  --color-primary-dark: #263238; /* text, borders */

  /* Secondary Colors */
  --color-secondary-light: #cfd0d8;
  --color-secondary-medium: #454b64;
  --color-secondary-dark: #2d3142;

  /* Error Color */
  --color-error: #d32f2f;
  --color-error-light: #ffcdd2;
  --color-error-dark: #b71c1c;

  /* Success Color */
  --color-success: #388e3c;
  --color-success-light: #c8e6c9;
  --color-success-dark: #1b5e20;

  /* Background Colors */
  --color-bg-white: #ffffff; /* main background */
  --color-bg-light: #eceff1; /* cards */
  --color-bg-medium: #cfd8dc; /* hover states */

  /* Text Colors */
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-text-disabled: #bdbdbd;

  /* Border Color */
  --color-border-light: #bac0c5;
  --color-border-medium: #787e83;
  --color-border-dark: #222426;

  /* Neutral Colors */
  --color-neutral-light: var(--color-bg-light);
  --color-neutral-medium: var(--color-text-secondary);

  font-family: Inter, Roboto, system-ui, sans-serif;
  line-height: 1.6;

  text-underline-offset: 0.1rem;

  --fs-50: 0.875em;
  --fs-100: 1em;
  --fs-200: 1.125em;
  --fs-300: 1.5em;
  --fs-400: 1.75em;
  --fs-500: 2em;
  --fs-600: 2.25em;
  --fs-700: 2.5em;

  --spacing-large: 2em;
  --spacing-medium: 1em;
  --spacing-small: 0.5em;
  --spacing-extra-small: 0.25em;

  --sidebar-width: 10em;
  --main-content-padding: 3em;
  --icon-button-size: 2.4rem;
  --card-padding: var(--spacing-medium);
  --card-background-color: var(--color-bg-light);
  --card-padding-negative: calc(-1 * var(--card-padding));
  --border-radius: 0.5em;
  --border: solid 1px var(--color-border-light);

}

:root[data-theme='dark'] {
  --color-primary-light: #263238;
  --color-primary-medium: #98aeb8;
  --color-primary-dark: #cfd8dc;
  --color-secondary-light: #383d55;
  --color-secondary-medium: #666f8d;
  --color-secondary-dark: #cfd0d8;
  --color-error: #ed9795;
  --color-error-light: #cf3737;
  --color-error-dark: #ffe1e4;
  --color-success: #8ed792;
  --color-success-light: #2e7d32;
  --color-success-dark: #dcf6dd;
  --color-bg-white: #2b353b;
  --color-bg-light: #37474f;
  --color-bg-medium: #455a64;
  --color-text-primary: #e2e2e2;
  --color-text-secondary: #b0bec5;
  --color-text-disabled: #78909c;
  --color-border: #546e7a;
  --color-neutral-100: #37474f;
  --color-neutral-400: #78909c;
  --color-neutral-600: #b0bec5;
  --color-border-dark: #bac0c5;
  --color-border-medium: #787e83;
  --color-border-light: #222426;
}

@view-transition {
  navigation: auto;
}

@media (max-width: 576px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  :root {
    font-size: 17px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  :root {
    font-size: 19px;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  :root {
    font-size: 20px;
  }
}
@media (min-width: 1536px) {
  :root {
    font-size: 21px;
  }
}

/* 
   START RESET FROM https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.6;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 
   END RESET 
   v2.0 | 20110126
   License: none (public domain)
*/

i,
em,
cite {
  font-style: italic;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--typography-padding-vertical);
}

h1 {
  font-size: var(--fs-700);
}
h2 {
  font-size: var(--fs-600);
}
h3 {
  font-size: var(--fs-500);
}
h4 {
  font-size: var(--fs-400);
}
h5 {
  font-size: var(--fs-300);
}
h6 {
  font-size: var(--fs-200);
}
p {
  font-size: var(--fs-100);
}
small {
  font-size: var(--fs-50);
}
article {
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);

  margin-bottom: var(--spacing-medium);
  margin-left: auto;
  margin-right: auto;
}
article > footer,
article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: var(--card-padding-negative);
  background-color: var(--card-header-footer-color);
}
article > header {
  margin-bottom: var(--card-padding);
  padding: var(--card-padding);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
article > footer {
  margin-top: var(--card-padding);
  padding: var(--card-padding);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
article > header > h1,
article > header > h2,
article > header > h3,
article > header > h4,
article > header > h5,
article > header > h6,
article > header > p {
  margin: 0;
  padding: 0;
}
article > footer:has(button),
article > header:has(button) {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}
main {
  padding: var(--main-content-padding);
}

/* Buttons */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-primary-light);
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  color: var(--color-text-primary);
}
button.sm {
  padding: var(--spacing-extra-small) var(--spacing-small);
  font-size: var(--fs-50);
}
button.md {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-100);
}
button.lg {
  padding: var(--spacing-medium) var(--spacing-large);
  font-size: var(--fs-200);
}
button i,
button .material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-100);
  line-height: 1;
}
button.icon-only {
  padding: var(--spacing-small);
}
button.icon-round {
  padding: var(--spacing-small);
  border-radius: 999px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

/* Classes */
.border {
  border: var(--border);
}
.border>header {
  border-bottom: var(--border);
}
.border>footer {
  border-top: var(--border);
}
.justify-end {
  justify-content: flex-end;
}
/* Colors */
.neutral {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-medium);
  --color-state: var(--color-neutral-medium);
}
.primary {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  --color-state: var(--color-primary-dark);
}
.secondary {
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-dark);
  --color-state: var(--color-secondary-dark);
}
.error {
  background-color: var(--color-error-light);
  color: var(--color-error);
  --color-state: var(--color-error);
}
.success {
  background-color: var(--color-success-light);
  color: var(--color-success);
  --color-state: var(--color-success);
}

/* State-layer uses ::after. Any element that includes state-layer will automatically
 * inherit the state layer and have interactivity. 
 * elements using state layer should not use ::after.
*/

button:not([disables]),
.state-layer {
  position: relative;
  cursor: pointer;
}

button:not([disabled]):after,
.state-layer::after {
  content: '';
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  background-color: var(--color-state, var(--color-text-primary));
  border-radius: inherit;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale(0);
}

button:not([disabled]):hover:after,
.state-layer:hover:after {
  transform: scale(1);
  opacity: 0.08;
}

button:not([disabled]):active:after,
.state-layer:active:after {
  transform: scale(1);
  opacity: 0.14;
}

/* Google Icons from https://developers.google.com/fonts/docs/material_icons#setup_method_2_self_hosting */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

i,
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Format */
.middle {
  position: fixed;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Sidebar Format */
body:has(> aside) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow: hidden;
}
body > main {
  grid-column: 2;
  grid-row: 1;
  overflow-y: auto;
}
body > aside {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--color-bg-light);
}

/* Apply background colors globally */
body {
  background-color: var(--color-bg-white);
  color: var(--color-text-primary);
}
