/* 
* CSS Style for CSE 210 Group 5 (P5ych) | Fall 2025
* */

@import url('reset.css');
@import url('color.css');
@import url('typography.css');
@import url('state-layer.css');
@import url('card.css');
@import url('button.css');
@import url('icon.css');
@import url('format.css');
@import url('nav.css');
@import url('classes.css');
@import url('modal.css');
@import url('form.css');
