/* 
* CSS Style for CSE 210 Group 5 (P5ych) | Fall 2025
* */

@import url('/src/styles/reset.css');
@import url('/src/styles/color.css');
@import url('/src/styles/typography.css');
@import url('/src/styles/state-layer.css');
@import url('/src/styles/card.css');
@import url('/src/styles/button.css');
@import url('/src/styles/icon.css');
@import url('/src/styles/format.css');
@import url('/src/styles/nav.css');
@import url('/src/styles/classes.css');
@import url('/src/styles/modal.css');
@import url('/src/styles/form.css');
@import url('/src/styles/dropdown.css');
@import url('/src/styles/group.css');
@import url('/src/styles/toast.css');
@import url('/src/styles/zinggrid.css');
