.toast-alerts {
  position: fixed;
  top: var(--spacing-medium);
  right: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  z-index: 9999;
  pointer-events: none;
}

.toast {
  opacity: 1;
  pointer-events: auto;
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  color: var(--color-fg);
}

.toast.success {
  background-color: var(--color-success-light);
}

.toast.error {
  background-color: var(--color-error-light);
}

.toast.hide {
  opacity: 0;
}
