/*
* Typography/Breakpoint sizes from https://picocss.com/docs/typography 
* */

i,
em,
cite {
  font-style: italic;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--typography-padding-vertical);
}

h1 {
  font-size: var(--fs-700);
}
h2 {
  font-size: var(--fs-600);
}
h3 {
  font-size: var(--fs-500);
}
h4 {
  font-size: var(--fs-400);
}
h5 {
  font-size: var(--fs-300);
}
h6 {
  font-size: var(--fs-200);
}
p {
  font-size: var(--fs-100);
}
small {
  font-size: var(--fs-50);
}
a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}
a[selected=''],
a:hover {
  color: var(--color-primary-medium);
}
