zing-grid {
  border-radius: var(--border-radius);
  border: var(--border);
}
zg-watermark {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
zg-head-cell {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
zg-caption,
zg-button.zg-filter-menu {
  display: none;
}
